doctype html
html
  head
    title Dota2 Match Ticker
    meta(charset='utf-8')
    meta(name='viewport' content='width=1040')
  body
    include ./fork-on-github.pug
    #main
    script(type='text/javascript').
      window.matches = !{JSON.stringify(data)}
    script(type='text/javascript' src='bundle.js' charset='utf-8')
