doctype html
html
  head
    title Dota2 Match Ticker
    meta(charset='utf-8')
    meta(name='viewport' content='width=1020')
  body
    include ./fork-on-github.pug
    #main
    include ./page-view.pug

    script(type='text/javascript').
      window.dmt = {
        matches: !{JSON.stringify(data)},
        interval: #{interval}
      }
    script(type='text/javascript' src=jsUrl charset='utf-8')
