$white: #ecf0f1;
$red: #e74c3c;
$black-border: 1px solid rgba(0, 0, 0, 0.5);
$page-width: 1020px;

body {
  min-width: $page-width;
  background-image: url(http://dota.jiangyu.rocks/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center 0;
  font-family: Georgia, "Bitstream Charter", serif;
  color: $white;
}
#main {
  width: $page-width;
  margin: 35px auto;

  h2 {
    margin-top: 60px;
    margin-left: 25px;
  }
}
.search {
  text-align: center;

  input {
    border: 0;
    font-size: 1rem;
    font-family: Georgia, "Bitstream Charter", serif;
    padding: 10px 15px;
    width: 250px;
  }
}
.match-list {
  list-style: none;

  .dim {
    opacity: 0.5;
  }

  li {
    line-height: 60px;
    border-bottom: $black-border;

    &:hover {
      border-bottom:  1px solid darken($red, 20%);
    }
    span {
      display: inline-block;
      padding-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.team1, &.team2 {
        width: 230px;
      }
      &.vs {
        width: 70px;
      }
      &.tournament, &.live-in, &.vs {
        font-size: 0.9rem;
      }
      &.tournament {
        width: 190px;
      }
      &.live-in {
        width: 110px;
        color: $red;
      }
      &.tournament-img {
        width: 80px;

        span {
          border: $black-border;
          display: inline-block;
          width: 70px;
          height: 28px;
          background-position: center center;
          background-size: cover;
          position: relative;
          top: 9px;
        }
      }
    }
  }
}
